# Keystore & sensitive config
phigrosshell.keystore
PhigrosShellGUI.Android/PhigrosShellGUI.Android.csproj
*.keystore
*.jks

# Build artifacts
bin/
obj/

# IDE
.vs/

# VS user files
*.user
*.suo
PublishProfiles/
publish/

# Release artifacts
Releases/
dist/

# Build-generated config copies
*.csproj.nosigningconfigs